*{
    padding: 0px;
    margin: 0px;
}
.chooseDemoWrapper{
    display: flex;
    justify-content: space-between;
    
    

}
.menu-icon{
    position: fixed;
    right: 1rem;
    top: 19%;
    z-index: 1;
    /* border: 0px solid #dbd7d7; */
    /* background-color: white; */
}
.closer{
    cursor: pointer;
    position: relative;
    display: block;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin-right: 10px;
}

.list {
    display: none;
    background-color: white;
    height: 140px;
    width: 180px;
    /* padding: 10px; */
}

.chooseDemo{
    color: #444;
    text-decoration: none;
    padding: 5px;
}
.chooseDemo:hover{
    color: #444;
    background-color: #cecdcde1;
    
}
.icon-close{
    display: none;
}

  
.show-list {
    display: block; 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
  }
     
body{
    width: 100%;
    max-width: 100vw;
    min-height: 100vh;
    font-family:  sans-serif;
    /* font-family: var(--bs-font-sans-serif); */
    letter-spacing: 1.5px;
    -webkit-text-size-adjust: 100%;
    background: #fff;
    font-weight: 400;
    font-size: 15px;
    /* letter-spacing: 1.5px; */
    color: #444;
}


ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bg-container{
    position: relative;
}


.time-number{
    font-weight: 900;
    opacity: 0.8;
    font-size: 3rem;
    line-height: 3rem;
}

.button-element{
    background-color: rgba(42, 41, 41, 0.886);
    color: #ffffff;
    outline: none;
    width: 40%;
    height: 60px;
    border: none;
}
.contat-btn{
    background-color: transparent;
    color: black;
    outline: none;
    padding: 2%;
}
.nav-image{
    width: 20%;
}
a{
    color: #fff;
}
.para-heading{
    font-size: medium;
}
.comming-soon{
    font-family: Libre Baskerville, serif;
    font-weight: bold;   
    color: #444; 
}
.colon{
    padding-left: 10px;
    font-size: 1.6rem;
    color: #c7bebe;
    letter-spacing: 1rem;
}
.nav-item{
    width: 10%;
}


.image-container {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.images-hovers {
    transition: transform 0.3s ease-in-out 0s;
    width: 100%;
    height: 100%;
}

.image-container:hover .images-hovers {
    transform: scale(1);
    overflow: hidden;
    background-color: #fdfbfb;
    opacity: 0.8;
}
.text{
    color: #fff;
    opacity: 1;
}

.middle {
    transition: all 0.3s ease-in-out 0s;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    left: 7%;
    top: 7%;
    padding-bottom: 10px;
    transform: translate(-20%, -60%);
    opacity: 0;
    width: 86%;
    height: 86%;
    transform: scale(1);
    pointer-events: none;
    border: 1px solid #f1f0f0;
    
}
.image-container:hover .middle {
    opacity: 0.8;
    
}
.main-container{
    display: flex;
    flex-direction: row;
}
.first-section{
    background-image: url("https://rectoon.itech-theme.com/static/media/ecommercebg1.a404c562.jpg");
    background-size: cover;
    background-position-x: center;
    opacity: 0.9;
    background-color: rgba(249, 247, 247, 0.854);
  
  background-blend-mode: overlay;

}
.custom-icon {
    color: black; 
  }

.arraw{
    width: 50px;
}
.valid-email{
    display: none;
}
.arraw:hover{
    width: 20px;
}
.your-mail{
    color: #c7bebe;
}

@media screen and (min-width: 993px) {
    .first-section{
        width: 50%;
        height: 100%;

    }
    .second-section{
        width: 50%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .image-container{
        width: 50%;
    }
}
@media screen and (max-width: 992px) {
    .first-section{
        width: 100%;
        height: 100%;

    }
    .button-element{
        width: 50%;
        height: 60px;
        
    }
    
    .second-section{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .image-container{
        width: 50%;
    }
    .main-container{
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width: 749px) {
    .button-element{
        width: 90%;
    }
}
@media screen and (max-width: 501px) {
    
    .nav-image{
        height: min-content;
        align-self: center;
    }
    .second-section{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .image-container{
        width: 100%;
    }
    .button-element{
        background-color: rgba(42, 41, 41, 0.886);
        color: #ffffff;
        outline: none;
        width: 90%;
        height: 60px;
        border: none;
    }
    .contat-btn{
        width: 40%;
        padding: 2%;
    }
    .colon{
        padding-left: 5px;
        font-size: 1rem;
        color: #c7bebe;
        letter-spacing: 0.5rem;
    }

}
