*{
    padding: 0px;
    margin: 0px;
}

    
body{
    width: 100%;
    max-width: 100vw;
    min-height: 100vh;
    line-height: 30px;
    font-family: Montserrat, sans-serif;
    /* font-family: var(--bs-font-sans-serif); */
    letter-spacing: 1.5px;
    -webkit-text-size-adjust: 100%;
    background: #fff;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 1.5px;
    color: #444;
}
h1{
    font-family: Libre Baskerville, serif;
    letter-spacing: 0;
    text-transform: uppercase;
    font-size: 6rem;
    line-height: 6rem;
}
nav{
    background-color: white;

}
ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bg-container{

    position: relative;
}
.menu-icon{
    position: fixed;
    right: 1rem;
    top: 19%;
    z-index: 1;
    border: 1px solid #dbd7d7;
    -webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    
}
/* .class-span{
    display: flex;
    flex-direction: column;
} */
.time-number{
    /* font-size: 500%; */
    font-weight: 900;
    opacity: 0.8;
    font-size: 3rem;
    line-height: 3rem;

}

.button-element{
    background-color: black;
    color: #ffffff;
    outline: none;
    width: 40%;
    height: 60px;
    border: none;
}
.contat-btn{
    background-color: transparent;
    color: black;
    outline: none;
    padding: 2%;
}
.nav-image{
    width: 20%;
}
a{
    color: #fff;
}
.para-heading{
    font-size: medium;
}
.comming-soon{
    font-weight: bold;   
    color: #444; 
}

.nav-item{
    width: 10%;
}


.image-container {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.images-hovers {
    transition: transform 0.3s ease;
    width: 100%;
    height: 100%;
}

.image-container:hover .images-hovers {
    transform: scale(1);
}

.middle {
    transition: opacity 0.3s ease;
    position: absolute;
    top: 80%;
    left: 40%;
    color: #fff;
    transform: translate(-20%, -20%);
    opacity: 0;
    text-align: center;
    pointer-events: none;
}

.image-container:hover .middle {
    opacity: 0.8;
}



.main-container{
    display: flex;
    flex-direction: row;
}
@media screen and (min-width: 993px) {
    .first-section{
        width: 50%;
        height: 100%;

    }
    
    .second-section{
        width: 50%;
    }
}
@media screen and (max-width: 992px) {
    .first-section{
        width: 100%;
        height: 100%;

    }
    
    .second-section{
        width: 100%;

    }
    .main-container{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 582px) {
    .time-number{
        font-size: 300%;
    
    }
    .second-section{
        width: 100%;

    }
    .button-element{
        background-color: black;
        color: #ffffff;
        outline: none;
        width: 60%;
        height: 60px;
        border: none;
    }
    .contat-btn{

        padding: 1%;
    }

}
